#loading{
	width: .8rem;
	height: .8rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
}
.none{
	display: none;
}
.font22 {
	font-size: .22rem;
}
.font24{
	font-size: .24rem;
}
.font26{
	font-size: .26rem;
}
.font28{
	font-size: .28rem;
}
.font3{
	font-size: .3rem;
}
.font32 {
	font-size: .32rem;
}
.font36{
	font-size: .36rem;
}
.color_33{
	color: #333;
}
.color_66{
	color: #666;
}
.color_blue{
	color: #33a9fb;
}
.bg_ff{
	background: #fff;
}
.bg_cc{
	background: #e6e6e6;
}
.bg_f6{
	background: #f6f6f6;
}
.red_icon{
	color: #ee3535;
}
.orange_icon{
	color: #f9b011;
}
html, body {
  box-sizing: border-box;
  min-height: 100%;
  color: #333;
}
#app {
	width: 100%;
	height: 100%;
}
/*--- 修改vux组件 ---*/
.weui-cells:before, 
.weui-cells:after, 
.hotel_search_lay_str .weui-cell_access .weui-cell__ft:after,
.air_search_str .weui-cell_access .weui-cell__ft:after{
	display: none;
}
.weui-cell_access .weui-cell__ft{
	padding-right: 0 !important;
	font-size: .3rem;
}
.weui-cell{
	padding: 0 !important;
	height: 1.1rem;
}
.air_search_str .weui-cell {
	height: .80rem;
}
.weui-cells{
	font-size: .28rem;
	background: none;
}
.weui-cells, .weui-cell{
	margin: 0 !important;
}
.air_search_str .weui-cells {	
	background-color: inherit!important;
}
.air_search_str .weui-cell__ft {
	color: #333333;
	text-align: left;
}
.inline-calendar th{
	text-align: center;
}
.vux-popup-mask.vux-popup-show{
	z-index: 110;
}
.addr_box .weui-cell {
	height: 1.0rem;
}

.body_overflow{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* --- 公共样式动画 --- */
.slide-enter-active, .slide-leave-active{
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slide-enter, .slide-leave-active{
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

/* .slideM-enter-active, .slideM-leave-active{
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slideM-enter, .slideM-leave-active{
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.slideM-leave{
	opacity: 0;
} */